extends layout

block content
  div.container
    h1= title
    p Welcome to #{title}
    
    h3 
      a(href="/contacts") See contact list
    
    h3 
      a(href="/contacts/addContactForm") Add a new contact
     
