body {
  padding: 50px;
  font-family: 'Cardo', serif;
  background-color: snow;
  text-align: center;
}

h1 {
  font-family: 'Volkhov', serif;
  font-size: 50px;
}

a {
  color: #00B7FF;
}

th {
  font-size: 32px;
}

table {
  font-size: 22px;
  margin-left: 10%;
  padding-right: 15%;
}

#addContact {
  color: Thistle;
  font-family: 'Volkhov', serif;
  font-size: 26px;
}

.row {
  padding-bottom: 10px;
}
